@model User

<div class="text-center">
    <h1>@Model.Id</h1>
    <h1>@Model.Username</h1>
    <h1>@Model.Email</h1>
    <h1>@Model.Forename</h1>
    <h1>@Model.Surname</h1>
    <h1>@Model.Age</h1>
    <h1>@Model.Rating</h1>
</div>
